.wy-nav-content {
    max-width: 1024px;
}

a:visited {
    color: #2980B9;
}

.wy-side-nav-search>a:visited, .wy-side-nav-search .wy-dropdown>a:visited {
    color: #fcfcfc;
}

.wy-menu-vertical a:visited {
    color: #b3b3b3;
}
